.wrap {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  background-color: #496084;
  font-family: Arial, sans-serif;
  color: #dba574;
  outline: solid 1px #7d1b36;
}

.title {
  text-align: center;
  color: #bb5252;
}
