@keyframes ldio-6rvffqxie2m {
    0%    { transform: translate(3.77px,3.77px) }
    33.33% { transform: translate(192.27px,3.77px) }
    66.66% { transform: translate(79.17px,192.27px) }
    100%    { transform: translate(3.77px,3.77px) }
}


.ldio-6rvffqxie2m > div {
    transform: scale(0.52);
    transform-origin: 188.5px 188.5px;
}

.ldio-6rvffqxie2m > div > div {
    animation: ldio-6rvffqxie2m 1.5384615384615383s linear infinite;
    position: absolute
}

.ldio-6rvffqxie2m > div > div div:nth-child(1) {
    width: 135.72px;
    height: 135.72px;
    border-radius: 50%;
    border: 22.62px solid #85a2b6;
    background: #bbcedd
}

.ldio-6rvffqxie2m > div > div div:nth-child(2) {
    width: 32.045px;
    height:  96.135px;
    transform: rotate(-45deg);
    background: #85a2b6;
    border-radius: 0 0 15.08px 15.08px;
    position: absolute;
    top: 128.18px;
    left: 160.225px
}
.loadingio-spinner-magnify-w8778i3024f {
    width: 377px;
    height: 377px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}
.ldio-6rvffqxie2m {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-6rvffqxie2m div { box-sizing: content-box; }
