ul {
  list-style: none;
  padding: 0;
}

li {
  opacity: 1;
}

.active {
  margin-left: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #bdbd48;
}

.done {
  color: #fff;
  opacity: .7;
  text-decoration: line-through;
}

.hide {
  margin-left: 10px;
  opacity: 0;
  transition: .7s;
}

li:hover .hide {
  opacity: 1;
}

.icon {
  transition: .7s;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.4);
  transition: .7s;
}