
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7ca9d4;
  height: 80px;
}

.text {
  text-align: center;
  margin: 20px 20px;
}

.text:hover {
  color: black;
}
